.*
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

!.gitignore
!.mailmap

include/config
include/linux/version.h
include/generated
arch/*/include/generated

Documentation/*.xml
Documentation/*.html
Documentation/*.1
Documentation/captcp.pdf
Documentation/captcp.html

traces/*.pcap
out-*

*.pcap

*.orig
*~
\#*#
core
